<a href="https://colab.research.google.com/github/ecolbinado/aral-aral-python-exercises/blob/master/Aral_Aral_Week_0503_Python_Emil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aral-Aral Week 5 Day 3: Python

**Direction**

Provide each cell with Python code that best satisfies the instruction before it.

## Numerical Data

```python
# 1. Declare statements to import NumPy, Pandas, and Matplotlib.pyplot.
```

In [0]:
# TYPE ANSWER HERE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

```python
# 2. Create a seed with a set value 42 using Numpy for random number generation.
```

In [0]:
# TYPE ANSWER HERE
np.random.seed(42)

```python
# 3. First, create a seed with a set value 1337 using Numpy.
#    Then, create a 10x3 Numpy array named `foo` filled with random integers.
```

In [4]:
# TYPE ANSWER HERE
np.random.seed(1337)
foo = np.random.randint(1,9, size=(10,3))
foo

array([[8, 6, 5],
       [1, 8, 2],
       [8, 3, 3],
       [3, 5, 1],
       [2, 7, 7],
       [3, 8, 1],
       [2, 4, 6],
       [7, 7, 3],
       [3, 2, 1],
       [4, 2, 5]])

## Data Manipulation

```python
# 4. Convert `foo` into a Pandas dataframe named `bar`.
#    Set column names to 'spam', 'ham', 'eggs'.
```

In [5]:
# TYPE ANSWER HERE
bar = pd.DataFrame(foo, columns=['spam', 'ham', 'eggs'])
bar

   spam  ham  eggs
0     8    6     5
1     1    8     2
2     8    3     3
3     3    5     1
4     2    7     7
5     3    8     1
6     2    4     6
7     7    7     3
8     3    2     1
9     4    2     5

```python
# 5. Select column 'spam' from `bar` and convert it into a Pandas series 
#    named `baz`.
```

In [0]:
# TYPE ANSWER HERE
baz = pd.Series(bar['spam'])
baz

0    8
1    1
2    8
3    3
4    2
5    3
6    2
7    7
8    3
9    4
Name: spam, dtype: int64

```python
# 6. Select column 'ham' and 'eggs' from `bar` and convert it into 
#    Pandas dataframe named `foobar`.
```

In [11]:
# TYPE ANSWER HERE
foobar = bar[['ham','eggs']]
foobar

   ham  eggs
0    6     5
1    8     2
2    3     3
3    5     1
4    7     7
5    8     1
6    4     6
7    7     3
8    2     1
9    2     5

## Visualization

```python
# 7. Plot column `eggs` from `foobar` as a bar graph. Add figure title and labels.
```
![](aa_0503_bar.png)

In [0]:
# TYPE ANSWER HERE

```python
# 8. Plot column 'spam' on x-axis and column 'eggs' on y-axis from `bar` as a
#    scatter plot. Add figure title and labels.
```
![](aa_0503_scatter.png)

In [0]:
# TYPE ANSWER HERE

```python
# 9. Plot columns 'ham' and 'eggs' from `bar` as box plots.
#    Add figure title and labels.
```
![](aa_0503_box.png)

In [0]:
# TYPE ANSWER HERE